/************* Table of contents **************

  1. Base styles
  2. Layout
  3. Modules
    3.1. Header
      3.1.1 Header navbar
        3.1.1.1. Brand and like links in main navigation
        3.1.1.2. Main Navigation menu
          3.1.1.2.1 Contact by phone button
          3.1.1.2.2. Currency, language and login buttons
      3.1.2. Headline and Searchform in header
        3.1.2.1. Site headline
        3.1.2.2. Search form in header
          3.1.2.2.1. Dropdown in search form
        3.1.2.3. Benefits in header
    3.2. Hot Deals section
      3.2.1. Hot deals Carousel
    3.3. Reviews section
      3.3.1. Brand rating and Rating Criteria
      3.3.2. Customer reviews
    3.4. Other Cities
    3.5. Partners
    3.6. Quick About
      3.6.1. Why us and review
      3.6.2. Info
    3.7. Mobile Apps
    3.8. Footer
      3.8.1. Pre Footer
      3.8.2. Sub Footer
  4. State

***********************************************/


/*
1.Base styles
***********************************************/

html {
  font: 10px 'open_sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  line-height: normal;
  margin: 0;
  position: relative;
  font-size: 1.4rem;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
}

strong,
b {
  font-weight: bold;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}


/*
2.Layout
***********************************************/

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-carousel {
  max-width: 1150px;
  margin: 0 auto;
}

/* Micro clearfix hack by Nicolas Gallagher */

.cf::after,
.cf::before {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

.row::after,
.row::before {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

/* Grid */

.col-1,
.col-1-2,
.col-1-3,
.col-1-4,
.col-1-5,
.col-2-3,
.col-3-4 {
  float: left;
}

.col-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-2-3 {
  width: 66.6%;
}

.col-3-4 {
  width: 75%;
}


/* equal width flexboxes */

.l-flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.rating-image {
  width: 90px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/***********************************************
                    3. Module
***********************************************/

/* 3.1 Header */

.header {
  background: url(../img/milano-bg.png) no-repeat top center;;
  background-size: cover;
  color: #fff;
  z-index: 2;
  /*min-height: 100vh;*/ /* is it neccessary full window height? */
}


/*  3.1.1 Header navbar */

.header-navbar-wrap {
  background-color: #1a5880;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 4px 1px #4e4e4e;
}

.header-navbar {
  position: relative;
}

/* 3.1.1.1. Brand and like links in main navigation */

.navbar-brand {
  float: left;
}

.navbar-brand-logo {
  width: 173px;
  padding: 19px 0;
  float: left;
}


/* 3.1.1.2. Main Navigation menu */

.navbar-menu {
  float: right;
  font-size: 1.2rem;
  width: 75%;
}

.likes-count {
  float: left;
  padding: 22px 0;
}

.heart {
  position: relative;
  color: #bacdd9;
  font-size: 1.5rem;
  text-decoration: none;
}

.heart::before {
  content: "\f004";
  font-family: 'FontAwesome';
  color: #bacdd9;
  position: absolute;
  top: 3px;
  left: -22px;
}

.menu-wrap {
  float: right;
}

.nav-menu-btn {
  display: none;
}

.navbar-btn {
  display: inline-block;
  vertical-align: middle;
}

.navbar-btn-header {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: background-color .3s ease;
          transition: background-color .3s ease;
}

.navbar-btn-header:hover {
  background-color: #133f5c;
  cursor: pointer;
}


/* 3.1.1.2.1 Contact by phone button */

.navbar-btn-contact {
  padding: 16px 45px 13px;
  border-radius: 0;
  -webkit-transition: background-color .3s ease;
          transition: background-color .3s ease;
}

.navbar-btn-contact::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: rgba(255,255,255,0.5);
  top: 50%;
  left: 99%;
  margin-top: -15px;
}

.navbar-btn-contact:hover {
  background-color: #133f5c;
  cursor: pointer;
}

.navbar-btn-contact:hover.navbar-btn-contact::after {
  background-color: #133f5c;
}

.phone,
.phone-text {
  display: block;
}

.phone {
  font-size: 1.5rem;
  position: relative;
}

.phone::before {
  content: "\f095";
  font-family: 'FontAwesome';
  font-size: 1.7rem;
  position: absolute;
  top: 5px;
  right: 106%;
}

.phone::after {
  content:' \f107';
  font-family: 'Fontawesome';
  display: inline-block;
  margin-left: 15px;
  position: absolute;
  font-size: 1.3rem;
  top: 50%;
}

.phone-text {
  color: #bacdd9;
  font-size: 1.1rem;
}

.navbar-btn-communication {
  display: none;
  color: rgba(255, 255, 255, 0.8);
}


/* 3.1.1.2.2. Currency, language and login buttons */


/* Down arrow in the pseudo element */

.navbar-btn.dropdown .navbar-btn-header::after {
  content:' \f107';
  font-family: 'Fontawesome';
  display: inline-block;
  margin-left: 15px;
  position: relative;
}


/* borderred menu button */

.navbar-btn-bordered {
  margin-left: 20px;
}

.navbar-btn-bordered .navbar-btn-header:hover {
  border: 1px solid  #133f5c;
}

.navbar-btn-bordered .navbar-btn-header {
  border: 1px solid rgba(255,255,255,0.5);
}


/* dropdown */

.navbar-btn .dropdown-content {
  border-radius: 3px;
  box-shadow: 0px 2px 5px 1px #b7b7b7;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  line-height: 2.5;
  padding: 7px 0;
  color: #333;
  z-index: 5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-menu .dropdown-content {
  width: 240px; /* width from PSD */
  top: 130%;
  left: 50%;
  margin-left: -120px;
}

.navbar-btn-bordered .dropdown-content {
  right: 0; /* align dropdown content by the right side of the bordered button */
  top: 127%;
  left: auto;
  padding: 22px;
}

.navbar-btn-contact .dropdown-content {
  top: 110%;
  width: 540px;
  left: 50%;
  margin-left: -270px;
}


/* pointing arrow for dropdown-content box + hover area */

.dropdown-content::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #fff;
}

.navbar-btn-bordered .dropdown-content::before {
  margin-left: 0;
  left: auto;
  right: 50px;
}

.dropdown-content::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 10px;
  width: 100%;
}


/* flexboxes in dropdown menu */

.dropdown-content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.company-branches,
.languages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}


/* menu items (currency and languages) in dropdown menu */

.dropdown-content .dropdown-navbar-items {
  line-height: 2.5;
}

.dropdown-navbar-items {
  display: block;
  padding: 0 22px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: background-color .3s , color .3s;
          transition: background-color .3s , color .3s;
}

.dropdown-navbar-items:hover {
  background-color: #1a587f;
  color: #fff;
  cursor: pointer;
}

.navbar-btn-lang-curr {
  color: rgba(255,255,255,0.8);
}


/* currency in dropdown */

.dropdown-navbar-items {
  width: 100%;
  text-align: left;
}

.currency {
  float: right;
  text-align: right;
  color: #1a5880;
}

.dropdown-navbar-items:hover .currency {
  color: #fff;
}


/* phone in dropdown */

.dropdown-phones .communication {
  display: none;
}

.country-phone {
  float: right;
  font-weight: normal;
}

.flag {
  position: relative;
  font-weight: bold;
  padding: 0 22px 0 40px;
  cursor: auto;
}

.por::before,
.ned::before,
.lat::before {
  content: '';
  background-size: 20px 10px;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 10px;
  margin-top: -5px;
}

.por::before{
  background-image: url(../img/por-flag.png);
}

.ned::before {
  background-image: url(../img/ned-flag.png);
}

.lat::before {
  background-image: url(../img/lat-flag.png);
}


/* right border in the dropdown menu */

.flag,
.dropdown-right-border .dropdown-navbar-items {
  border-right: 1px solid lightgray;
}


/* form in the dropdown */

.my-booking-form {
  border: none;
}

.my-booking-input {
  margin-bottom: 15px;
  padding: 7px 5px;
  width: 100%;
  border: 1px solid #CCCCCC
}

.my-booking-btn {
  border-radius: 3px;
  background-color: #0073b5;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 0;
  padding: 12px;
  width: 100%;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}

.my-booking-btn:hover {
  background-color: #0089d8;
}


/* 3.1.2. Headline and Searchform in header */

.header-search {
  background: url(../img/pattern-bg.png);
  padding: 198px 0 31px;
}

/* 3.1.2.1. Site headline */

.header-headline {
  text-align: center;
}

.site-headline {
  font-size: 4.7rem;
}

.site-headline .rating-score {
  display: inline-block;
  position: relative;
  bottom: 25px;
}

.site-headline .rating-image {
  width: 65px;
}

.site-headline .outer-circle,
.site-headline .inner-circle {
  stroke: #fff;
}

.site-headline .inner-circle {
  fill: rgba(255, 255, 255, 0.2);
}

.site-headline .circle-path {
  fill: #fff;
}

.site-headline .circle-text {
  fill: #fff;
}

.site-description {
  font-size: 2.1rem;
  letter-spacing: .5px;
}


/* 3.1.2.2. Search form in header */

.header-searchform-wrap {
  background-color: #ffcd4a;
  padding: 18px 30px;
  margin: 25px 0 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 1px #4e4e4e;
}

.header-searchform {
  background-color: #fff;
  padding: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-radius: 0 4px 4px 0;
  position: relative; /* instead of .dropdown class for testing in browser */
}

.rent-brand-wrap {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 0%;
      -ms-flex: 3 0 0%;
          flex: 3 0 0%;
}

.rent-brand {
  cursor: default;
  position: relative;
  display: inline-block;
}

.rent-brand .avis-logo {
  vertical-align: middle;
}

.rent-brand::after {
  content: '';
  background-image: url(../img/ita-flag.png);
  background-size: 30px 18px;
  position: absolute;
  width: 30px;
  height: 18px;
  margin-top: -5px;
  right: -5px;
  bottom: -6px;
  border: 1px solid #fff;
  z-index: 2;
}

.header-searchform-input {
  position: relative;
  -webkit-box-flex: 13;
  -webkit-flex: 13 0 0%;
      -ms-flex: 13 0 0%;
          flex: 13 0 0%;
}

.location-input {
  border: none;
  font-size: 2.1rem;
  padding-left: 10px;
  outline: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.start-date-wrap,
.end-date-wrap {
  position: relative;
  margin: 0 2px 0 0;
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 0%;
      -ms-flex: 2 0 0%;
          flex: 2 0 0%;
}

.start-date-btn,
.end-date-btn {
  background-color: #ddd;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}

.start-date-btn:hover,
.end-date-btn:hover {
  background-color: #add8e6;
}


.show-prices-wrap {
  position: relative;
  -webkit-box-flex: 4;
  -webkit-flex: 4 0 0%;
      -ms-flex: 4 0 0%;
          flex: 4 0 0%;
}

.show-prices-btn {
  background-color: #0073b5;
  color: #fff;
  font-size: 1.9rem;
  border-radius: 0 4px 4px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}

.show-prices-btn:hover {
  background-color: #0083ce;
}

/* Pointers for buttons */

.start-date-btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-left: 10px solid rgb(221, 221, 221);
	border-bottom: 22px solid transparent;
	z-index: 3;
	cursor: default;
  -webkit-transition: border .5s;
          transition: border .5s;
}

.start-date-btn:hover::after {
	border-top: 22px solid transparent;
	border-left: 10px solid #add8e6;
	border-bottom: 22px solid transparent;
}

.end-date-btn::before {
	content: "";
  position: absolute;
  left: 0;
	top: 0;
  width: 0;
  height: 0;
  border-bottom: 22px solid transparent;
  border-left: 10px solid #fff;
  border-top: 22px solid transparent;
}

.end-date-btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-left: 10px solid rgb(221, 221, 221);
	border-bottom: 22px solid transparent;
	z-index: 2;
	cursor: default;
  -webkit-transition: border .5s;
          transition: border .5s;
}

.end-date-btn:hover::after {
	border-top: 22px solid transparent;
	border-left: 10px solid #add8e6;
	border-bottom: 22px solid transparent;
}

.show-prices-btn::before {
	content: "";
  position: absolute;
  left: 0;
	top: 0;
  width: 0;
  height: 0;
  border-bottom: 22px solid transparent;
  border-left: 10px solid #fff;
  border-top: 22px solid transparent;
}

/* 3.1.2.2.1. Dropdown in search form */

.header-searchform .dropdown-content {
  padding: 0;
  top: 100%;
  margin-top: 10px;
  z-index: 5;
  box-shadow: 0px 0px 10px -2px #000;
}

/* Common styles for search dropdowns  */

.dropdown-all-locations-wrap,
.dropdown-top-locations-wrap,
.dropdown-top-cities-wrap,
.dropdown-calendar-wrap {
  width: 100%;
  left: 0
}


/* calendar dropdown */

.dropdown-calendar-wrap {
  /*display: block;*/ /* uncomment in browser to display */
}

.dropdown-calendar-wrap::before {
  left: 635px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.dropdown-calendar {
  width: 100%;
  z-index: 5;
  left: 0;
  padding: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-calendar::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 635px;
  margin-left: -4px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #eee;
}

.calendar-left-arrow,
.calendar-right-arrow {
  position:absolute;
  color: #848484;
  font-size: 3rem;
  cursor: pointer;
  top: -18px;
}

.calendar-left-arrow:hover,
.calendar-right-arrow:hover {
  color: #000;
}

.calendar-left-arrow {
  left: 8px;
}

.calendar-right-arrow {
  right: 8px;
}

.calendar-wrap {
  color: #000;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.calendar-month-name {
  background-color: #eee;
  text-align: center;
  line-height: 2.5;
}

.calendar {
  width: 100%;
  margin: 10px 0;
}

.calendar-month {
  border-left: 1px solid #eee;
  padding: 0 5px;
}

.calendar-month-noborder {
  border: none;
}

.calendar-header {
  font-weight: bold;
  font-size: 1.3rem;
}

.calendar-body tr {
  border-bottom: 1px solid #fff;
}

.calendar-body td {
  padding: 1px 0;
  font-size: 1.2rem;
  text-align: center;
}

.past-day {
  color: #777;
}

.selected-day {
  background-color: #add8e6;
  cursor: pointer;
}

.start-day,
.end-day {
  background-color: #008aff;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.start-day::after {
  content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-left: 7px solid #008aff;
	border-bottom: 16px solid transparent;
	z-index: 2;
}

.end-day::before {
  content: "";
  position: absolute;
  left: 0;
	top: 0;
  width: 0;
  height: 0;
  border-bottom: 16px solid transparent;
  border-left: 7px solid #add8e6;
  border-top: 16px solid transparent;
}

.month-day:hover {
  background-color: #eee;
  cursor: pointer;
}

.calendar-months {
  background-color: #eee;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

/* locations and cities dropdown */

.dropdown-locations-wrap {
  /*display: block;*/
  left: 220px;
  width: 210px;
  max-height: 222px;
}

.dropdown-cities-wrap {
  /*display: block;*/
  left: 150px;
  width: 210px;
  max-height: 222px;
}

.dropdown-top-locations-wrap {
  /*display: block;*/
}

.dropdown-all-locations-wrap {
  /*display: block;*/
}

.dropdown-top-cities-wrap {
  /*display: block;*/
}

.dropdown-autocomplete-wrap {
  /*display: block;*/
  left: 0;
  width: 595px;
}

.dropdown-autocomplete-alternative-wrap {
  /*display: block;*/
  left: 0;
  width: 595px;
}

.dropdown-cities {
  overflow-y: scroll;
  max-height: 220px;
}

.dropdown-all-locations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 2px;
}

.dropdown-locations-wrap::before,
.dropdown-cities-wrap::before,
.dropdown-autocomplete-wrap::before,
.dropdown-autocomplete-alternative-wrap::before {
  left: 15px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.dropdown-all-locations-wrap::before,
.dropdown-top-locations-wrap::before,
.dropdown-top-cities-wrap::before {
  left: 125px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.dropdown-locations,
.dropdown-cities,
.dropdown-top-locations,
.dropdown-autocomplete {
  padding: 2px;
}

.all-locations-items {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  border-left: 1px solid #eee;
}

.all-locations-items:first-child {
  border: none;
}

.dropdown-searchform-items {
  width: 100%;
  padding: 9px;
  text-align: left;
}

.all-locations-items .dropdown-searchform-items {
  padding-left: 25px;
}

.dropdown-searchform-items:hover {
  color: #0073b5;
  background-color: #add8e6;
}

.locations-airport {
  position: relative;
}

.locations-airport::before {
  position: absolute;
  content: '\f072';
  font-family: 'FontAwesome';
  left: 7px;
  top: 10px;
}

.top-locations-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.top-locations-list .locations-airport::before {
  top: 50%;
  margin-top: -7px;
}

.dropdown-searchform-btn {
  background-color: #ddd;
  padding: 14px 18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1px;
  font-weight: bold;
}

.dropdown-searchform-btn:hover {
  color: #0073b5;
  background-color: #add8e6;
}

.show-all {
  text-align: center;
}

.show-all-btn {
  background-color: #fff;
  color: #0073b5;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px;
}

.show-all-btn:hover {
  color: #004a75;
}

.dimmed-location {
  color: #aaa;
}

.autocomplete-show-more {
  background-color: #f6f6f6;
}

.autocomplete-show-more .show-more {
  float: right;
  color: #777;
  margin-top: 4px;
}

.autocomplete-show-more .lat {
  float: left;
  margin-left: 25px;
  font-size: 1.1rem;
  position: relative;
  color: #777;
}

.lat b {
  color: #000;
}

.autocomplete-show-more .lat::before {
  left: -22px;
}

.dropdown-autocomplete .dropdown-searchform-items {
  padding-left: 25px;
}

.dropdown-autocomplete .suggested-airport {
  font-size: 1.2rem;
  border-bottom: 1px solid #f6f6f6;
  padding-left: 45px;
}

.dropdown-autocomplete .suggested-airport::before {
  left: 27px;
}

.autocomplete-locations .locations-airport::before {
  color: #777;
}

.autocomplete-locations-alternative .dropdown-searchform-items {
  padding-left: 35px;
  font-size: 1.2rem;
}

.autocomplete-locations-alternative .locations-airport::before {
  left: 15px;
}

.autocomplete-locations-alternative .autocomplete-show-more {
  padding: 0 15px;
  background-color: transparent;
}

.show-more-last {
  color: #777;
  width: 100%;
  text-align: left;
  padding-left: 35px;
}

/* 3.1.2.3. Benefits in header */

.header-benefits-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
}

.header-benefits {
  line-height: 2.2;
}

.header-benefits-item {
  position: relative;
  padding: 0 0 0 30px;
}

.header-benefits-item::before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: -2px;
}


/* 3.2. Hot Deals section */

.hot-deals {
  background-color: #efe3c5;
}

.hot-deals-carousel-wrap {
  background-color: #fff;
  position: relative;
}

.hot-deals-primary-heading,
.hot-deals-secondary-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 23px 0 11px;
}

.hot-deals-primary-heading {
  color: #8d6a16;
}

.hot-deals-secondary-heading {
  color: #444;
}

/* 3.2.1. Hot deals Carousel */

.carousel-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 320px;
}

.carousel-left-arrow,
.carousel-right-arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  cursor: pointer;
}

.carousel-left-arrow {
  left: 50px;
}

.carousel-right-arrow {
  right: 50px;
}

.carousel-slide {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  padding: 14px 26px;
  background-color: #fff;
  -webkit-transition: box-shadow, padding, .2s, .2s;
          transition: box-shadow, padding, .2s, .2s;
}

.carousel-slide:hover {
  box-shadow: 0px 1px 7px 1px #bbb;
  padding: 30px 26px;
  z-index: 5;
}

.carousel-slide:hover .car-new-price,
.carousel-slide:hover .car-price {
  font-size: 4rem;
}

.carousel-slide:hover .book-now-btn {
  background-color: #f2a622;
}

.car-name,
.car-image,
.car-new-price,
.car-old-price,
.car-price,
.book-now-btn,
.car-location {
  display: block;
}

.car-name {
  font-size: 1.5rem;
}

.car-new-price,
.car-price {
  font-family: 'open_sans_condensedbold';
  text-decoration: initial;
  font-weight: bold;
  font-size: 3rem;
  color: #e32327;
  -webkit-transition: font-size, .2s;
          transition: font-size, .2s;
}

.car-price {
  color: #444;
  margin-bottom: 13px;
}

.car-old-price {
  color: #777;
  font-size: 1.3rem;
}

.book-now-btn {
  margin: 4px auto 11px;
  border-radius: 5px;
  padding: 12px 38px;
  color: #fff;
  background-color: #0073b5;
  font-weight: bold;
  font-size: 1.6rem;
}

.book-now-btn:hover {
  background-color: #0083ce;
}

.car-location {
  color: #444;
}

.car-image {
  width: 175px;
  margin: 0 auto;
}

.no-deal .car-image {
  margin-bottom: 11px;
}

.hot-deals-top-locations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 18px 12px 29px;
}

.top-locations-item {
  text-decoration: none;
  color: #95742c;
  font-size: 1.6rem;
}

.top-locations-item:hover {
  text-decoration: underline;
}

.all-top-locations {
  display: none;
}

/* 3.3. Reviews section */

.reviews {
  padding: 38px 0 29px;
}

.reviews a {
  color: #0073b5;
}

.customer-ratings {
  padding-bottom: 8px;
  border-bottom: 4px solid #eee;
}

.reviews-heading {
  float: left;
  font-size: 2.4rem;
  font-weight: bold;
}

.customer-ratings .rent-brand-wrap {
  float: right;
}

.customer-ratings .avis-logo {
  width: 106px;
}

/* 3.3.1. Brand rating and Rating Criteria */

.brand-rating {
  text-align: center;
  margin-top: 30px;
}

.reviews .rating-score {
  margin-bottom: 3px;
}

.rating-name {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.rating-criteria {
  background-color: #f3f3f3;
  margin: 18px 20px 0 0;
  font-size: 1.3rem;
}

.criteria-list {
  padding: 0 20px 9px;

}

.criteria-item {
  padding: 13px 0 5px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.criteria-item:last-child {
  border: none;
}

.item-name {
  float: left;
  width: 80%;
}

.item-rating {
  float: right;
  color: #0073b5;
}

/* 3.3.2. Customer reviews */

.customer-reviews {
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-item {
  margin: 10px 0 1px;
}


.review-item:nth-last-child(2) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.customer-rating-wrap {
  text-align: right;
}

.customer-rating {
  display: block;
  font-size: 1.8rem;
  color: #0073b5;
}

.customer-rating-wrap .review-date {
  display: none;
  font-size: 1.2rem;
  color: #777;
}

.customer-name {
  vertical-align: sub;
}

.customer-data {
  position: relative;
  padding-left: 30px;
  font-size: 1.2rem;
  color: #777;
  vertical-align: sub;
}

.customer-data::before {
  left: 8px;
}

.review-head {
  border-bottom: 1px dotted #ddd;
  padding: 12px 0 10px;
}

.review-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.positive-review,
.negative-review {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  font-size: 1.3rem;
  position: relative;
}

.positive-review {
  padding: 10px 0 0 23px;
}

.negative-review {
  padding: 10px 0 0 56px;
}

.positive-review::before,
.negative-review::before {
  position: absolute;
  top: 13px;
  left: 0;
  font-family: 'FontAwesome';
  font-size: 1.4rem;
}

.positive-review::before {
  content: '\f067';
  color: #28960b;
}

.negative-review::before {
  content: '\f068';
  left: 33px;
  color: #960b0b;
}

.all-reviews-wrap {
  margin: 13px 0 0;
}

.all-reviews {
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
}

/* 3.4. Other Cities */

.other-cities {
  background-color: #f6f6f6;
  padding: 26px;
}

.other-cities-heading {
  font-size: 1.9rem;
  font-weight: bold;
  padding-bottom: 14px;
  border-bottom: 4px solid #ddd;
}

.other-cities .col-1-4 {
  padding: 0 15px 0 15px;
}

.other-cities .col-1-4:first-child {
  padding-left: 0;
}

.other-cities .col-1-4:last-child {
  padding-right: 0;
}

.other-links-list {
  line-height: 2.8;
}

.other-links-item {
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
}

.other-links-item:last-child {
  border: none;
}

.city-link {
  text-decoration: none;
  color: #444;
}

.other-cities .all-cities-wrap {
  padding: 13px 0 0;
}

.other-cities .all-cities {
  text-decoration: none;
  font-size: 1.3rem;
  color: #666;
}

.cities-list {
  border-bottom: 1px solid #ddd;
}

/* 3.5. Partners */

.partners {
  background-color: #d8e9f2;
  padding: 0 0 40px;
  height: 278px; /* temporarty, delete this */
}

.partners-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 23px 0 11px;
  color: #1a5880;
}

.partner-info .rating-score {
  text-align: center;
  margin: 22px 0 15px;
}

.partner-info .outer-circle {
  stroke: #dfdfdf;
  fill: #fff;
}

.partner-info .inner-circle {
  fill: #f6f6f6;
  stroke: #dfdfdf;
}

.partners-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* 3.6. Quick About */

.quick-about {
  padding: 32px 0 35px;
}

.quick-about-heading {
  text-align: center;
  font-size: 3.2rem;
  color: #777;
  padding: 0 0 24px;
  border-bottom: 4px solid #ddd;
}

/* 3.6.1. Why us and review */

.why-us {
  font-size: 2.3rem;
  color: #333;
  margin: 20px 0 23px;
}

.book-reasons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.reason-list-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  margin: 0 20px 0;
}

.reason-list-wrap:first-child {
  margin-left: 0px;
}

.reason-item {
  padding: 0 0 20px 36px;
  font-size: 1.5rem;
  position: relative;
}

.reason-item::before {
  position: absolute;
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 2.5rem;
  color: #0073b5;
  top: -2px;
  left: 0;
}

.security-logo {
  width: 117px;
}

.quick-review {
  margin: 30px 0 20px 20px;
  border: 1px dashed #aaa;
  padding: 10px 20px 16px;
}

.reviewer-name {
  float: left;
}

.star-rating {
  position: relative;
  float: right;
}

.star-rating::before {
  position: absolute;
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'FontAwesome';
  font-size: 1.3rem;
  color: #ffcd4a;
  right: 100%;
  top: 4px;
}

.reviewer-text {
  margin: 10px 0;
  font-size: 1.3rem;
}

.reviewer-more .read-more {
  float: left;
  font-size: 1.3rem;
  color: #2286bf;
}

.review-centre {
  width: 140px;
  float: right;
}

.lower {
  margin: 15px 0 0;
}

/*.quick-about .row:last-child {
  margin: 15px 0 0;
}*/

/* 3.6.2. Info */

.info-block {
  background-color: #eee;
  padding: 20px 30px;
  text-align: center;
  min-height: 204px;
}

.info-block-darken {
  background-color: #ddd;
}

.info-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
}

.info-link {
  color: #0073b5;
}

.info-link:hover {
  text-decoration: none;
}

.info-block .my-booking-btn {
  margin: 27px 0 20px;
}

.info-phone {
  color: #0073b5;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.info-social {
  margin-top: 11px;
  padding-top: 11px;
  border-top: 1px dashed #aaa;
}

.social-text {
  display: block;
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 15px;
}

.social-icon {
  font-size: 3.5rem;
  color: #777;
  text-decoration: none;
  margin: 0 8px;
}

.newsletter-form {
  margin: 10px 0 0;
}

.newsletter-form .my-booking-btn {
  margin: 15px 0 0;
}

.email-input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 11px;
  font-size: 1.5rem;
}

/* 3.7. Mobile Apps */

.mobile-apps {
  background: url(../img/pre-footer-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.bg-wrap {
  background: url(../img/pattern-bg.png);
}

.mobile-apps .container {
  z-index: 1;
}

.app-vendors {
  margin: 55px 0 50px;
}

.mobile-apps-heading {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 100;
  text-shadow: 0px 2px 1px #333;
}

.mobile-apps-ad {
  font-size: 1.8rem;
  margin: 26px 0 42px;
  line-height: 1.4;
  font-weight: 100;
}

.vendors-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vendor-rating {
  width: 50%;
  margin: 10px auto 0;
  text-align: right;
}

.vendor .star-rating {
  float: none;
  color: #fff292;
  font-size: 1.6rem;
  text-decoration: none;
}

.vendor .star-rating:hover {
  text-decoration: underline;
}

.vendor .star-rating::before {
  content: '\f005 \f005 \f005 \f005 \f123';
  color: #fff292;
  margin-right: 10px;
  font-size: 1.5rem;
}

.vendor-btn {
  padding: 0;
}

.smartphone {
  position: relative;
}

.smartphone-img {
  position: absolute;
  top: 30px;
  left: 89px;
}

/* 3.8. Footer */

.footer {
  background-color: #555;
  color: #f6f6f6;
}

.footer-main {
  padding: 33px 0 26px;
}

.footer-categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-heading {
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: #c7c7c7;
}

.footer-links {

}

.category-wrap {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 0%;
      -ms-flex: 2 0 0%;
          flex: 2 0 0%;
}

.category-wrap-large {
  -webkit-box-flex: 4;
  -webkit-flex: 4 0 0%;
      -ms-flex: 4 0 0%;
          flex: 4 0 0%;
}

.category-wrap-small {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.footer-item {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 2;
  font-size: 1.2rem;
}

.footer-item:hover {
  text-decoration: underline;
}

.footer-icon {
  color: #c7c7c7;
  text-decoration: none;
  font-size: 3rem;
  display: block;
  margin: 0 0 25px;
}

.footer-newsletter {
  padding: 12px 18px 23px;
  background-color: #444;
}

.form-heading {
  color: #f6f6f6;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.footer-form-text {
  font-size: 1.2rem;
  display: block;
  color: #ccc;
}

.footer-form-email {
  margin: 13px 0;
  padding: 8px;
  border: none;
  width: 100%;
  color: #b0b0b0;
}

.footer-form-btn {
  border-radius: 4px;
  color: #fff;
  background-color: #f2a622;
  padding: 9px;
  width: 100%;
  font-size: 1.4rem;
}

/* 3.8.1. Pre Footer */

.pre-footer {
  background-color: #444;
}

.news-source {
  margin: 31px 0;
}

/* 3.8.2. Sub Footer */

.sub-footer {
  background: url(../img/footer-pattern-bg.png);
  color: #f6f6f6;
  padding: 29px 0;
}

.legal-text {
  font-size: 1.2rem;
  color: #898989;
}

.get-app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.footer .security-logo {
  float: right;
}

.get-app-small .get-app {
  display: none;
}

.footer-select {
  display: none;
}


/***********************************************
                    State
***********************************************/

.is-active-language {
  color: #1a5880;
}
