/* Hot Deals section */

.hot-deals {
  background-color: #efe3c5;
}

.hot-deals-primary-heading,
.hot-deals-secondary-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 23px 0 11px;
}

.hot-deals-primary-heading {
  color: #8d6a16;
}

.hot-deals-secondary-heading {
  color: #444;
}

/* Hot deals Carousel */

.carousel {
  background-color: #efe3c5;
  position: relative;
}

.carousel-container {
  /*position: relative;*/
  max-width: 1150px;
  /*height: 320px;*/
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  background-color: #efe3c5;
}

.carousel-bg {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 340px;
  background: #fff;
}

.carousel-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.carousel-list.unwrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.carousel-button-prev,
.carousel-button-next {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 19px;
  height: 76px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 21;
  opacity: .5;
}

.carousel-button-prev:hover,
.carousel-button-next:hover {
  opacity: 1;
}

.carousel-button-prev {
  left: 10px;
  background: url('../../img/arrow-left.png') center no-repeat;
}

.carousel-button-next {
  right: 10px;
  background: url('../../img/arrow-right.png') center no-repeat;
}

.carousel-slide {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  height: 320px;
  text-align: center;
  padding: 14px 26px;
  background-color: #fff;
  -webkit-transition: -webkit-transform, .2s, cubic-bezier(0.55, 0.09, 0.68, 0.53);
          -webkit-transition: .2s, cubic-bezier(0.55, 0.09, 0.68, 0.53), -webkit-transform;
          transition: .2s, cubic-bezier(0.55, 0.09, 0.68, 0.53), -webkit-transform;
          transition: transform, .2s, cubic-bezier(0.55, 0.09, 0.68, 0.53);
          transition: transform, .2s, cubic-bezier(0.55, 0.09, 0.68, 0.53), -webkit-transform;
}

.carousel-slide:hover {
  box-shadow: 0px 1px 7px 1px #bbb;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10;
}

.carousel-slide .book-now-btn:hover {
  background-color: #f2a622;
}

.car-name,
.car-image,
.car-new-price,
.car-old-price,
.car-price,
.book-now-btn,
.car-location {
  display: block;
}

.car-name {
  font-size: 1.5rem;
}

.car-new-price,
.car-price {
  font-family: 'open_sans_condensedbold';
  text-decoration: initial;
  font-weight: bold;
  font-size: 3rem;
  color: #e32327;
  -webkit-transition: font-size, .2s;
          transition: font-size, .2s;
}

.car-price {
  color: #444;
  margin-bottom: 13px;
}

.car-old-price {
  color: #777;
  font-size: 1.3rem;
}

.book-now-btn {
  margin: 4px auto 11px;
  border-radius: 5px;
  padding: 12px 38px;
  color: #fff;
  background-color: #0073b5;
  font-weight: bold;
  font-size: 1.6rem;
}

.book-now-btn:hover {
  background-color: #0083ce;
}

.car-location {
  color: #444;
}

.car-image {
  width: 175px;
  margin: 0 auto;
}

.no-deal .car-image {
  margin-bottom: 11px;
}

.hot-deals-top-locations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 18px 12px 29px;
}

.top-locations-item {
  text-decoration: none;
  color: #95742c;
  font-size: 1.6rem;
}

.top-locations-item:hover {
  text-decoration: underline;
}

.all-top-locations {
  display: none;
}
