/**
  Base styles
*/

html {
  font: 10px 'open_sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  line-height: normal;
  margin: 0;
  position: relative;
  font-size: 1.4rem;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
}

strong,
b {
  font-weight: bold;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: 'open_sans', Arial, sans-serif;
}
